mixin modals()
	.modal.request#request
		.modal__close
			
		.request__title Заказать!

		form(method="" action="").request-form
			label.request-form__label Ваше имя:
			input(type="text" value="").request-form__input 

			label.request-form__label Ваш телефон:
			input(type="text" value="").request-form__input 

			input(type="submit" value="Сделать заказ").request-form__submit

	.modal-mask