mixin advantages()
	section.advantages
		.advantages__wrapper
			.advantages__title 
				span НАШИ ПРЕИМУЩЕСТВА

			.advantages__item ПЯТЬ ЛЕТ НАДЕЖНОЙ РАБОТЫ НА РЫНКЕ
			.advantages__item БЕСПЛАТНАЯ ДОСТАВКА ПО ВСЕМУ КАЗАХСТАНУ
			.advantages__item 100% ГАРАНТИЯ КАЧЕСТВА ТОВАРА