// Common styles of the project

html,
body {
	overflow-x: hidden;

	height: 100%;

	font-family: "PTSans-Regular";
}

.wrapper {
	width: 1160px;
	margin: auto;
}

.title {
	position: relative;

	display: inline;

	text-align: center;
	text-transform: uppercase;

	font-family: "PTSans-Bold";
	font-size: em(30px);
	&:before,
	&:after {
		top: 20px;

		display: block;

		width: 85px;
		height: 1px;

		@include content;
	}
	&:before {
		left: -97px;
	}
	&:after {
		right: -97px;
	}
	&--white {
		color: #fff;
		&:before,
		&:after {
			background: #fff;
		}
	}
	&--black {
		color: #000;
		&:before,
		&:after {
			background: #000;
		}
	}
}

.title-inside {
	width: 100%;

	text-transform: uppercase;

	color: #01407f;
	border-bottom: 1px solid #01407f;

	font-family: "PTSans-Bold";
	font-size: em(30px);
	font-weight: normal;
}

h2 {
	text-transform: uppercase;

	color: #000;

	font-family: "PTSans-Bold";
	font-size: em(16px);
	font-weight: normal;
}

.paragraph {
	color: #000;

	font-size: em(16px);
}

ul {
	@include nl;
	li {
		color: #818181;

		font-family: "PTSans-Italic";
		font-size: em(14px);
		&:before {
			content: " - ";
		}
	}
}

.link {
	color: $blue;

	font-size: em(16px);
	&:hover {
		text-decoration: none;
	}
}

table {
	width: 100%;
	margin-bottom: 40px;
	thead {
		th {
			padding: 5px 15px;

			text-align: left;
			text-transform: uppercase;

			color: #000;

			font-family: "PTSans-Bold";
			font-size: em(14px);
			&:nth-child(2) {
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: #e1e2e3;
			}
			td {
				padding: 3px 15px;

				color: #838383;
				border: 1px solid #c6c9cd;

				font-size: em(12px);
				&:first-child {
					text-align: left;

					color: #2a3445;
				}
				&:nth-child(2) {
					text-align: center;
				}
				a {
					display: block;

					width: 112px;
					height: 28px;
					margin: auto;

					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					color: #272727;
					border: 1px solid #b4b5b6;
					border-radius: 5px;
					background: linear-gradient(#dedede, #ccc);
					box-shadow: inset 1px 1px 0 #ebebeb;

					font-size: em(12px);
					line-height: 28px;
					&:hover {
						background: #dedede;
					}
				}
			}
		}
	}
}
