mixin about()
	section.about
		.about__wrapper
			.about__title
				span О компании

			.about__content
				p ТОО «Амкодор-Астана» – дистрибьютор холдинга «АМКОДОР» (Республика Беларусь) в Республике Казахстан осуществляет продажу дорожно-строительной, коммунальной, сельскохозяйственной, лесной, аэродромно-уборочной и другой спецтехники, а также запасных частей к ней. В ассортименте холдинга «АМКОДОР» около 90 моделей машин и оборудования. Производство сертифицировано по мировым стандартам СТБ ISO 9001-2009 и DINENISO 9001-2008. Продукция холдинга «АМКОДОР» поставляется в 30 стран мира. Покупая технику «АМКОДОР» Вы делаете правильный выбор.
				p «Амкодор» – предприятие с более чем 80-летним опытом производства специальных машин и оборудования. На сегодняшний день занимает одну из лидирующих позиций в Беларуси странах СНГ по производству дорожно-строительной, сельскохозяйственной, коммунальной, лесной, аэродромно-уборочной и другой спецтехники. В ассортименте около 90 моделей машин и оборудования.
				p «Амкодор» всегда исходит из интересов клиента. Мы убеждены, что это единственно верный путь в стремлении стать для каждого из компанией первого выбора. Многие уже сделали этот выбор, отдав предпочтение технике марки «Амкодор». Мы готовы к диалогу. Мы открыты для продуктивного сотрудничества теперь и в Республике Казахстан.