mixin catalog-table-content()
	section.catalog-table-content
		.catalog-table-content__wrapper
			h1 АМКОДОР 320, АМКОДОР 320Е

			.catalog-tabs
				.catalog-tabs__item АМКОДОР 320СЕ
				.catalog-tabs__item АМКОДОР 325С
				.catalog-tabs__item АМКОДОР 325С-01
				.catalog-tabs__item АМКОДОР 330СЕ
				.catalog-tabs__item АМКОДОР 332С4
				.catalog-tabs__item АМКОДОР 332С4-01
				.catalog-tabs__item АМКОДОР 342С4
				.catalog-tabs__item АМКОДОР 352С
				.catalog-tabs__item АМКОДОР 352С-02
				.catalog-tabs__item АМКОДОР 371АС

			.catalog-tabs-content
				.catalog-tabs-content-box
					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w19.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш 320.45.01.000-В
								tfoot
									tr
										td(colspan="2") Без зубьев. Входит в состав машины.
								tbody
									tr
										td Номинальная вместимость, м³
										td 1.1
									tr
										td Удельная масса погружаемого материала, т/м³
										td 1.82
									tr
										td Ширина, мм
										td 2100
									tr
										td Высота разгрузки (при угле разгрузки 45°), мм
										td 2600
									tr
										td Вылет ковша (при угле разгрузки 45°), мм
										td 880
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4800
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 6000
									tr
										td Масса, кг
										td 350

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w341.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш зерновой 320.45.02.000
								tfoot
									tr
										td(colspan="2") Без зубьев. 
								tbody
									tr
										td Номинальная вместимость, м³
										td 1.9
									tr
										td Удельная масса погружаемого материала, т/м³
										td 0.71
									tr
										td Ширина, мм
										td 2300
									tr
										td Высота разгрузки (при угле разгрузки 25°), мм
										td 2750
									tr
										td Высота разгрузки (при угле разгрузки 45°), мм
										td 2350
									tr
										td Вылет ковша (при угле разгрузки 45°), мм
										td 1250
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4900
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 6250
									tr
										td Масса, кг
										td 425

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w351.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш двухчелюстной 320.45.03.000-А
								tfoot
									tr
										td(colspan="2") Без зубьев. 
								tbody
									tr
										td Номинальная вместимость, м³
										td 0.85
									tr
										td Удельная масса погружаемого материала, т/м³	
										td 2.35
									tr
										td Ширина, мм	
										td 2170
									tr
										td Высота разгрузки (при угле разгрузки 43°), мм		
										td 2690
									tr
										td Вылет ковша (при угле разгрузки 43°), мм		
										td 860
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм 	
										td 4900
									tr
										td Габаритная длина машины в транспортном положении, мм		
										td 5970
									tr
										td Масса, кг	
										td 480

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/525_58_00_000.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы грузовые 525.58.00.000
								tbody
									tr
										td Грузоподъемность, т
										td 2
									tr
										td Ширина по опорным лапам, мм
										td 270-990
									tr
										td Шаг перемещения лап, мм
										td 40
									tr
										td Высота разгрузки, мм
										td 2900
									tr
										td Вылет по кромке вил, мм
										td 1600
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4500
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 6630
									tr
										td Масса, кг
										td 300

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/527_53_00_000.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Захват для рулонов 527.53.00.000 – Б1
								tbody
									tr
										td Грузоподъемность, т	
										td 1.2
									tr
										td Диаметр рулона, мм
										td 850 - 1750
									tr
										td Ширина, мм
										td 1360
									tr
										td Высота разгрузки рулона, мм	
										td 3250
									tr
										td Вылет при горизонтальном положении лап захвата на максимальной высоте подъема, мм
										td 1800
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4500
									tr
										td Габаритная длина машины в транспортном положении, мм	
										td 6810
									tr
										td Масса, кг
										td 340

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/527_54_00_0003.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы с захватом 527.54.00.000
								tbody
									tr
										td Грузоподъемность, т	
										td 1.5
									tr
										td Ширина, мм
										td 2090
									tr
										td Вылет штыря вил от края переднего колеса при максимальной высоте разгрузки и при углу разгрузки 45°, мм
										td 980
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4800
									tr
										td Габаритная длина машины в транспортном положении, мм	
										td 6200
									tr
										td Масса, кг
										td 560

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/527_55_00_000.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы универсальные 527.55.00.000
								tbody
									tr
										td Грузоподъемность, т		
										td 1.3
									tr
										td Ширина, мм
										td 2150
									tr
										td Высота разгрузки, мм	
										td 2450
									tr
										td Вылет штыря вил от края переднего колеса, мм		
										td 980
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм		
										td 4800
									tr
										td Габаритная длина машины в транспортном положении, мм											
										td 6200
									tr
										td Масса, кг
										td 600

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/11.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Установка отвала для снега "Pronar" 320.45.62.000
								tbody
									tr
										td Ширина очищаемой полосы, мм	
										td 2530
									tr
										td Высота отвала, мм	
										td 835
									tr
										td Ширина отвала в транспортном положении, мм	
										td 2460
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм	
										td 5200
									tr
										td Габаритная длина машины в транспортном положении, мм	
										td 6070
									tr
										td Масса, кг	
										td 640

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/21.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Отвал V-образный для снега 320.45.63.000
								tbody
									tr
										td Система поворота отвала
										td Гидравлическая
									tr
										td Угол поворота крыльев отвала, град
										td ±30
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 5000
									tr
										td Ширина очищаемой полосы (при положении прямо/повернуто клином ±30°), мм
										td 2720/2360
									tr
										td Высота отвала, мм
										td 835
									tr
										td Габаритная длина машины в транспортном положении (отвал повернут клином ±30°), мм
										td 6060
									tr
										td Масса, кг
										td 720

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/320_45_65_000.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Отвал поворотный 320.45.65.000
								tbody
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4800
									tr
										td Ширина (при положении прямо/повернут на ±30°), мм
										td 2500/2170
									tr
										td Высота отвала, мм
										td 750
									tr
										td Угол поворота, град
										td ±30
									tr
										td Габаритная длина машины в транспортном положении (отвал повернут клином ±30°), мм
										td 5920
									tr
										td Масса, кг
										td 540

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w39.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Стрела крановая поворотная 320.45.71.000
								tbody
									tr
										td Номинальная грузоподъемность, кг:
											p при минимальном вылете крюка (А)
											p при максимальном вылете крюка (В)
 
										td 
											p 1260
											p 930
									tr
										td Максимальная высота подъема крюка в положении А/В, мм
										td 3900/4000
									tr
										td Высота подъема крюка при горизонтальном положении стрелы, мм
										td 1800
									tr
										td Вылет крюка в положении А/В, мм:
											p при горизонтальном положении стрелы
											p при максимальном подъеме стрелы
 
										td 
											p 1100/2100
											p 2150/3100
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4700
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 7600
									tr
										td Масса, кг
										td 400

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w361.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Крюк грузовой 527.56.00.000
								tbody
									tr
										td Грузоподъемность, т
										td 2
									tr
										td Максимальная высота подъема крюка при максимальном подъеме стрелы, мм
										td 3420
									tr
										td Максимальная высота подъема крюка при горизонтальном положении стрелы, мм
										td 1650
									tr
										td Вылет крюка при максимальном подъеме стрелы, мм
										td 900
									tr
										td Вылет крюка при горизонтальном положении стрелы, мм
										td 1750
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 4300
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 5790
									tr
										td Масса, кг
										td 125

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w37.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Установка подметально-уборочного оборудования "Tuchel" 320.45.82.000
								tbody
									tr
										td Ширина очищаемой полосы (с выдвинутой боковой метлой), мм
										td 2400
									tr
										td Диаметр основной щетки, мм
										td 600
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 5600
									tr
										td Габаритная длина машины в транспортном положении, мм
										td 7590
									tr
										td Масса, кг
										td 715

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w381.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Установка подметально-уборочного оборудования "Holms" 320.45.83.000
								tbody
									tr
										td Ширина очищаемой полосы, мм:
											p щетка в прямом положении
											p щетка в повернутом положении на 30°
										td 
											p 2500
											p 2215
									tr
										td Диаметр щетки, мм
										td 700
									tr
										td Минимальнаый радиус поворота по наружному габариту в транспортном положении, мм
										td 5400
									tr
										td Габаритная длина машины в транспортном положении (щетка в прямом положении), мм
										td 6920
									tr
										td Масса, кг
										td 500

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w191.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш 320С.45.01.000-01-В
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=1,1 м³, зубья на болтах
				.catalog-tabs-content-box
					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы для рулонов 320С.45.44.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w11.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш 320СЕ.45.01.000
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=1,1 м³, без зубьев, входит в состав машины

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w12.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш 320СЕ.45.01.000-01
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=1,1 м³, зубья на болтах

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w21.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш зерновой 320С.45.02.000
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=2 м³, без зубьев

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img

						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш двухчелюстный 320С.45.03.000
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=1 м³, без зубьев

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш двухчелюстный 320С.45.03.000-01
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=1 м³, зубья на болтах

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Ковш для корнеплодов 320С.45.04.000
								tbody
									tr
										td(colspan="2") Номинальная вместимость: V=2,1 м³

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w34.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Захват для рулонов 320С.45.24.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							img(src="%=staticPrefix=%images/content/w41.png" alt="")
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы грузовые 320С.45.43.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img

						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы с захватом 320С.45.45.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Вилы универсальные 320С.45.46.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Установка отвала для снега "PRONAR" 320С.45.62.000

					.catalog-tabs-content__wrapper
						.catalog-tabs-content__img
							
						.catalog-tabs-content__table
							table(width="100%")
								thead
									tr
										th(colspan="2") Установка подметально-уборочного оборудования "Holms" 320C.45.82.000
				.catalog-tabs-content-box 3
				.catalog-tabs-content-box 4
				.catalog-tabs-content-box 5
				.catalog-tabs-content-box 6
				.catalog-tabs-content-box 7
				.catalog-tabs-content-box 8
				.catalog-tabs-content-box 9
				.catalog-tabs-content-box 10