.top-menu {
	margin-top: 8px;
	&__item {
		margin-right: 20px;

		text-decoration: none;
		text-transform: uppercase;

		color: #fff;

		font-family: "PTSans-Bold";
		font-size: em(16px);
		&:hover {
			text-decoration: underline;
		}
	}
}
