mixin top-menu()
	nav.top-menu
		a(href="#" title="").top-menu__item О КОМПАНИИ
		a(href="#" title="").top-menu__item ТЕХНИКА
		a(href="#" title="").top-menu__item ЗАПЧАСТИ
		a(href="#" title="").top-menu__item СЕРВИС
		a(href="#" title="").top-menu__item КОНТАКТЫ