mixin spare-part-content()
	section.spare-part-content
		.spare-part-content__wrapper
			.spare-part-content__title ПОГРУЗАЧНОЕ ОБОРУДОВАНИЕ

			p После определенного эксплуатационного периода любые погрузчики Амкодор требуют выполнения технического обслуживания, текущего или капитального ремонта. В ассортименте компании «Амкодор Северо-Запад» находится широкий модельный ряд запасных частей. При помощи наших специалистов вы минимизируете временные ресурсы на поиск нужных деталей и сможете с максимальной эффективностью провести замену вышедшего из строя оборудования.

			p Погрузочное оборудование используется для погрузки сыпучих и кусковых грузов (щебня, песка, снега, соломы, сена, силоса, минеральных удобрений, навоза и т.п.) в различные транспортные средства, машины для внесения удобрений для механизации складских работ, смесительные установки, перевозки и обустройства соломы, рулонов и колен сена и т.п.

			h2 Втулки

			table
				thead
					tr
						th Название
						th ЦЕНА
						th ОПИСАНИЕ
						th 
				tbody
					- for(var i = 0; i < 5; i++) {
					tr
						td Втулка ТО-45 03.00.2004
						td 4.500 тенге
						td Втулка и ее описание, либо еще какая либо информация по этому поводу...
						td 
							a(href="#" title="" data-click="modal" data-item="#request") Заказать
					- }

			h2 Коромысло

			table
				thead
					tr
						th Название
						th ЦЕНА
						th ОПИСАНИЕ
						th 
				tbody
					- for(var i = 0; i < 5; i++) {
					tr
						td Втулка ТО-45 03.00.2004
						td 4.500 тенге
						td Втулка и ее описание, либо еще какая либо информация по этому поводу...
						td 
							a(href="#" title="" data-click="modal" data-item="#request") Заказать
					- }