mixin video()
	section.video
		.video__wrapper
			.video__title 
				span Видео Amkodor

			.video__item
				| <iframe width="555" height="330" src="https://www.youtube.com/embed/-6UVWtRVAx8" frameborder="0" allowfullscreen></iframe>
			.video__item
				| <iframe width="555" height="330" src="https://www.youtube.com/embed/yL-rtrYdyhc" frameborder="0" allowfullscreen></iframe>