mixin how()
	section.how
		.how__wrapper
			.how__title 
				span Как мы работаем

			.how__item.how__item--consult Подбор техники и консультация
			.how__item.how__item--contract Заключение договора 
			.how__item.how__item--delivery Поставка техники
			.how__item.how__item--customer ДОВОЛЬНЫЙ КЛИЕНТ
			.how__item.how__item--service СЕРВИС
			.how__item.how__item--spares ЗАПЧАСТИ
			.how__item.how__item--customer ДОВОЛЬНЫЙ КЛИЕНТ