mixin clients()
	section.clients
		.clients__wrapper
			.clients__title
				span Наши клиенты

			table.clients-list
				tr.clients-list__row
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-1.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-2.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-3.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-4.png" alt="")
				tr.clients-list__row
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-5.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-6.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-7.png" alt="")
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-8.png" alt="")
				tr.clients-list__row
					td.clients-list__item
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-10.png" alt="")
					td.clients-list__item
					td.clients-list__item
						img(src="%=staticPrefix=%images/content/client-12.png" alt="")
