.clients {
	padding-top: 10px;
	&__wrapper {
		@extend .wrapper;
	}
	&__title {
		width: 100%;
		margin-bottom: 25px;

		text-align: center;
		span {
			@extend .title;
			@extend .title--black;
		}
	}
}

.clients-list {
	width: 90%;
	margin: auto;
	&__row {
		&:first-child {
			border-bottom: 1px solid #ccc;
		}
		&:last-child {
			border-top: 1px solid #ccc;
		}
	}
	&__item {
		display: table-cell;

		box-sizing: border-box;
		width: 25%;
		height: 130px;

		text-align: center;

		border-right: 1px solid #ccc;
		&:last-child {
			border-right: 1px solid transparent;
		}
		&:hover {
			img {
				filter: grayscale(0);
			}
		}
		img {
			filter: grayscale(100%);
			@include transition;
		}
	}
}
