mixin services()
	section.services
		.services__wrapper
			.services__item.services__item--service 
				a(href="#" title="") Сервис
			.services__item.services__item--spares 
				a(href="#" title="") Запчасти
			.services__item.services__item--lease 
				a(href="#" title="") Лизинг

			.services__banner
				img(src="%=staticPrefix=%images/content/banner.jpg" alt="")