mixin services()
	section.services
		.services__wrapper
			.services__item.services__item--service 
				span Сервис
			.services__item.services__item--spares 
				span Запчасти
			.services__item.services__item--lease 
				span Лизинг

			.services__banner
				img(src="%=staticPrefix=%images/content/banner.jpg" alt="")