.services {
	padding-top: 20px;
	padding-bottom: 50px;
	&__wrapper {
		display: flex;

		align-items: flex-end;
		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
		text-decoration: none;

		font-family: "PTSans-Bold";
		font-size: em(20px);
		a {
			text-decoration: none;
			text-transform: uppercase;

			color: #000;
			border-bottom: 1px solid #bebebe;
		}
		&:before {
			position: relative;

			display: block;

			margin: auto;

			content: "";
		}
		&--service {
			margin-left: 100px;
			&:before {
				@include bg($service);
			}
		}
		&--spares {
			&:before {
				@include bg($spares);
			}
		}
		&--lease {
			margin-right: 100px;
			&:before {
				@include bg($lease);
			}
		}
	}
	&__banner {
		width: 100%;
		margin: 70px auto 0;

		text-align: center;
	}
}
