mixin spares-content()
	section.spares-content
		.spares-content__wrapper
			.spares-content__title Запчасти

			p Современные погрузчики представляют собой многофункционально оборудование, обладающее длительным эксплуатационным периодом и высоким рабочим ресурсом. Как и для всей остальной техники, периодически требуется проводить замену комплектующих.

			.spares-content-links
				a(href="#" title="").spares-content-links__item.spares-content-links__item--loading-equipment Погрузочное оборудование
				a(href="#" title="").spares-content-links__item.spares-content-links__item--gmp ГМП
				a(href="#" title="").spares-content-links__item.spares-content-links__item--rom РОМ
				a(href="#" title="").spares-content-links__item.spares-content-links__item--engine Двигатель
				a(href="#" title="").spares-content-links__item.spares-content-links__item--hydraulics Гидравлика
				a(href="#" title="").spares-content-links__item.spares-content-links__item--filter Фильтры
				a(href="#" title="").spares-content-links__item.spares-content-links__item--cardan-shaft КАРДАННЫЕ ВАЛЫ,МОСТЫ,КОЛЕСА

			h2 В каких случаях необходимы новые детали
			
			p Ситуации, при которых осуществляется выход погрузчиков из строя, на практике встречаются довольно часто. Например, при несоблюдении необходимого скоростного режима, повышения максимально допустимого веса груза, неверного закрепления погрузочного оборудования. В этих случаях произойдет поломка оборудования, а детали ходового механизма станут усиленно расшатываться. Контакты будут повреждены, могут выйти из строя приспособления для захвата грузов и т.п.

			h2 Оперативный ремонт техники – стабильная работа в течение долгих лет
			
			p Новые запчасти к вашему погрузчику используются для восстановления работоспособности техники и предотвращения издержек благодаря минимизации простоев. Быстрый и своевременный ремонт погрузчиков используется для максимальной экономии трудовых ресурсов и позволит избежать потери времени. Это, в свою очередь, повлечет за собой отражение на доходности бизнеса.

			ul
				li Погрузочное оборудование (втулки, коромысла, ножи, пальцы, прокладки, тяги, уплотнения)
				li ГМП (валы, диски, муфты, поршни, прокладки, проушины, пружины, распределители, сетки поддона, сухари, фланцы, шайбы, шестерни)
				li Редуктор отбора мощности (болты, валы, втулки, гидронасосы, корпусы, крышки, маншеты, подшипники, фланцы, шайбы, шестерни)
				li Двигатель Д260 (блоки, болты, валы, венцы, вкладыши, втулки, датчики, двигатели, клапаны, коллекторы, кольца, компенсаторы, компрессоры, коромысла, маслоотражатели, насосы, пальцы, поршни, прокладки, ремни, топливопроводы, трубы, шестерни)
				li Фильтры (фильтроэлементы, фильтры)
				li Гидравлика (гидробаки, гидроклапаны, гидромоторы, гидронасосы, гидрораспределители, гидрорули, клапаны, патрубки, РВД, трубопроводы, фланцы)
				li Карданные валы, мосты, колеса (болты, валы, втулки, гайки, картеры, крестовины, кулаки, мосты, накладки, пальцы, передачи, подшипники, рамки, редукторы, рычаги, сателлиты, скобы, ступицы, цапфы, шестерни, шины).

			h2 Среди основных достоинств сотрудничества с компанией «Амкодор Северо-Запад»:
			
			ul
				li Мы следим за ассортиментом и укомплектованностью складских запасов
				li Компания – это официальный дилер большого количества лидирующих мировых производителей погрузчиков, комплектующих и расходных материалов к технике.
