mixin cart-content()
	section.cart-content
		.cart-content__wrapper
			h1 АМКОДОР 320СЕ

			img(src="%=staticPrefix=%images/content/cart-content.jpg" alt="" align="right")

			p Погрузчик универсальный АМКОДОР 320СЕ – многоцелевая  машина компактного класса и предназначена для использования в строительстве, в коммунальном и сельском хозяйстве, в морских и речных портах, на складах, где требуется эффективная работа в ограниченном пространстве.

			p АМКОДОР 320СЕ  оснащен дизелем фирмы Deutz (Германия) экологического класса Stage IIIA, что особенно важно при работе в коммунальном хозяйстве мегаполисов, где предъявляются повышенные требования к экологии.

			p На машинах установлена гидрообъемная трансмиссия фирмы Sauer-Danfoss (Дания) с электронным управлением, ведущие мосты фирм Carraro (Италия) или Dana (Италия) с самоблокирующимися дифференциалами повышенного трения и многодисковыми тормозами в «масле», что обеспечивает бесступенчатое изменение скорости движения, плавность хода и высокую проходимость. В сочетании с шарнирно-сочлененной рамой с углом складывания ±40°, удобной и комфортабельной кабиной с  хорошей обзорностью это обеспечивает эффективную работу в стесненных условиях.

			p Гидравлическое устройство для быстрой смены рабочих органов погрузчика позволяет произвести замену рабочих органов в течение 1-2 минут без выхода оператора из кабины. При установке активных рабочих органов необходимо дополнительно подсоединить несколько быстроразъемных муфт для соединения гидравлических трубопроводов.

			p Для управления рабочим оборудованием в кабине установлено два гидравлических джойстика. Один -  универсальный, который управляет стрелой и ковшом, имеет переключатель реверса движения машины и две электрические кнопки для управления 3-й гидравлической функцией. Второй джойстик - 3-позиционный с фиксацией для 4-й гидравлической функции, например, для привода щётки и других активных быстросменных рабочих органов, которым необходимы 2 гидравлические функции. Это позволяет адаптировать рабочие органы специализированных фирм-изготовителей.

			p В базовом исполнении погрузчик оснащен ковшом, все остальные быстросменные рабочие органы заказываются дополнительно.

			p Погрузчик оснащён комфортабельной кабиной, в базовую комплектацию которой входит кондиционер-отопитель, регулируемая рулевая колонка и сиденье, переключатель 12/24В, гнездо для подключения мобильного телефона и МР3 плейера.

			| <table><thead><tr><th><div> </div></th><th><div><strong>АМКОДОР 325С</strong></div></th><th><div><strong>АМКОДОР 325С-01</strong></div></th></tr></thead><tbody><tr><td><div>Грузоподъемность, кг</div></td><td colspan="3"><div>2600</div></td></tr><tr><td><div>Устройство для быстрой смены рабочих органов</div></td><td><div>Механическое</div></td><td colspan="2"><div>Гидравлическое</div></td></tr><tr><td><div>Номер основного ковша</div></td><td><div>325С.45.01.010</div></td><td colspan="2"><div>325С.51.00.000</div></td></tr><tr><td><div>Вместимость ковша номинальная, м<sup>3</sup></div></td><td colspan="3"><div>1.4</div></td></tr><tr><td><div>Ширина режущей кромки ковша, мм</div></td><td colspan="3"><div>2500</div></td></tr><tr><td><div>Высота разгрузки, мм</div></td><td><div>2600</div></td><td colspan="2"><div>2650</div></td></tr><tr><td><div>Вылет кромки ковша, мм</div></td><td><div>950</div></td><td colspan="2"><div>900</div></td></tr><tr><td><div>Радиус поворота, мм</div></td><td colspan="3"><div>5800</div></td></tr><tr><td><div>Вырывное усилие, кН</div></td><td colspan="3"><div>60</div></td></tr><tr><td><div>Статическая опрокидывающая нагрузка</div><div>в сложенном (±38°) положении, кН</div></td><td colspan="3"><div> </div><div>52</div></td></tr><tr><td><div>Масса эксплуатационная, кг</div></td><td colspan="3"><div>8800</div></td></tr><tr><td><div>Дизель</div></td><td colspan="3"><div>Д-245</div></td></tr><tr><td><div>Мощность номинальная</div></td><td colspan="3"><div>77 кВт (105 л.с.) при 2200 об/мин</div></td></tr><tr><td><div>Трансмиссия</div></td><td colspan="3"><div>Гидромеханическая</div></td></tr><tr><td><div>Скорость передвижения, вперед/назад, км/ч:</div><div>1-я</div><div>4-я</div></td><td colspan="3"><div> </div><div> </div><div>5.8/5.9</div><div>32/--</div></td></tr><tr><td><div>Угол качания заднего моста, град</div></td><td colspan="3"><div>±12</div></td></tr><tr><td><div>Дифференциал</div></td><td colspan="3"><div>Повышенного трения</div></td></tr><tr><td><div>Рабочая тормозная система</div></td><td colspan="3"><div>Многодисковые тормозные механизмы в «масле», с раздельным гидравлическим приводом по мостам</div></td></tr><tr><td><div>Стояночная и аварийная тормозные системы</div></td><td colspan="3"><div>Однодисковый сухой тормозной механизм, с пружинным сжатием и гидравлическим растормаживанием</div></td></tr><tr><td><div>Рулевое управление</div></td><td colspan="3"><div>Шарнирно-сочлененная рама, с гидравлическим приводом и гидравлической обратной связью, аварийным насосом с приводом от ведущих колес</div></td></tr><tr><td><div>Шины</div></td><td colspan="3"><div>21.3-24</div></td></tr><tr><td><div>Тип гидросистемы</div></td><td colspan="3"><div>Двухнасосная с приоритетным клапаном для рулевого управления</div></td></tr><tr><td><div>Тип гидрораспределителя</div></td><td colspan="3"><div>3-секционный с прямым гидравлическим управлением</div><div> </div></td></tr><tr><td><div>Время гидравлического цикла, с:</div><div>подъем</div><div>разгрузка</div><div>опускание</div></td><td colspan="3"><div> </div><div> </div><div>3.9</div><div>1.2</div><div>3.0</div></td></tr><tr><td><div>Длина, в транспортном положении с основным ковшом, мм</div></td><td colspan="3"><div>6500</div></td></tr><tr><td><div>Ширина по ковшу, мм</div></td><td colspan="3"><div>2500</div></td></tr><tr><td><div>Ширина по колесам, мм</div></td><td colspan="3"><div>2410</div></td></tr><tr><td><div>Высота по крыше кабины, мм</div></td><td colspan="3"><div>3370</div></td></tr></tbody></table>

			h2 МОДИФИКАЦИИ

			.cart-content-modification
				a(href="/catalog-table.html" title="").cart-content-modification__all Все навесное оборудование
				- for(var i = 0; i < 5; i++) {
				.cart-content-modification__item
					a(href="#" title="")
						img(src="%=staticPrefix=%images/content/w12.png" alt="")
					a(href="#" title="").cart-content-modification__link Ковш 320СЕ.45.01.000
				- }