include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../slider/slider
include ../request/request
include ../advantages/advantages
include ../lineup/lineup
include ../request-now/request-now
include ../services/services
include ../how/how
include ../delivery-map/delivery-map
include ../video/video
include ../about/about
include ../clients/clients
include ../catalog-content/catalog-content
include ../spares-content/spares-content
include ../spare-part-content/spare-part-content
include ../inside-page-content/inside-page-content
include ../product-list-content/product-list-content
include ../cart-content/cart-content
include ../modals/modals
include ../footer/footer