.catalog-content {
	padding-bottom: 220px;
	&__wrapper {
		display: flex;

		align-items: flex-end;
		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__title {
		@extend .title-inside;
	}
}

.catalog-content-item {
	position: relative;

	width: 30%;

	text-align: center;
	&__img {
		display: block;

		margin: 0 auto 15px;
	}
	&__link {
		text-transform: uppercase;

		color: $blue;

		font-family: "PTSans-Bold";
		&:hover {
			text-decoration: none;

			color: #9e9e9e;
		}
	}
	&__hover {
		position: relative;

		padding-bottom: 20px;
		&:hover {
			.catalog-content-item-drop {
				display: block;
			}
		}
	}
}

.catalog-content-item-drop {
	position: absolute;
	right: 0;
	left: 0;

	display: none;

	width: 250px;
	margin: 20px auto 0;

	border-radius: 5px;
	background: #fff;
	box-shadow: 0 2px 4px #cdcdcd;
	&__item {
		display: block;

		padding: 15px;

		text-decoration: none;
		text-transform: uppercase;

		color: #999;

		font-size: em(14px);
		&:hover {
			background: #eee;
		}
	}
}
