mixin catalog-content()
	section.catalog-content
		.catalog-content__wrapper
			h1.catalog-content__title КАТАЛОГ ПРОДУКЦИИ

			//- .catalog-content-item
			//- 	img(src="%=staticPrefix=%images/content/farm-machinery.png" alt="").catalog-content-item__img
			//- 	.catalog-content-item__hover
			//- 		a(href="#" title="").catalog-content-item__link Сельскохозяйственная техника
			//- 		.catalog-content-item-drop
			//- 			a(href="#" title="").catalog-content-item-drop__item НАЗВАНИЕ МОДЕЛИ
			//- 			a(href="#" title="").catalog-content-item-drop__item НАЗВАНИЕ МОДЕЛИ
			//- 			a(href="#" title="").catalog-content-item-drop__item НАЗВАНИЕ МОДЕЛИ
			//- 			a(href="#" title="").catalog-content-item-drop__item НАЗВАНИЕ МОДЕЛИ

			//- .catalog-content-item
			//- 	img(src="%=staticPrefix=%images/content/municipal-road-machinery.png" alt="").catalog-content-item__img
			//- 	.catalog-content-item__hover
			//- 		a(href="#" title="").catalog-content-item__link КОМУНАЛЬНО-ДОРОЖНАЯ ТЕХНИКА

			//- .catalog-content-item
			//- 	img(src="%=staticPrefix=%images/content/storage-equipment.png" alt="").catalog-content-item__img
			//- 	.catalog-content-item__hover
			//- 		a(href="#" title="").catalog-content-item__link СКЛАДСКАЯ ТЕХНИКА

			+lineup('catalog')