.catalog-content {
	padding-bottom: 220px;
	&__wrapper {
		display: flex;

		align-items: flex-end;
		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__title {
		@extend .title-inside;
	}
}
