mixin inside-page-content()
	.inside-page-content
		.inside-page-content__wrapper
			h1 ЛИЗИНГ

			p Лизинг – это инновационный способ приобретения оборудования, техники или других активов, не требующий оплаты всей суммы сразу.

			p Лизинг подразумевает письменно оформленный договор между лизинговой компанией («Лизингодателем») с одной стороны и клиентом, использующим данное оборудование, («Лизингополучателем») с другой стороны. В соответствии с данным договором Лизингополучатель даёт согласие на оплату Лизингодателю определённой суммы лизинговых платежей в течение определённого периода времени за использование капитального оборудования, принадлежащего Лизингодателю на правах собственности. При этом Лизингополучателю не надо осуществлять покупку данного оборудования и вступать во владение. Другими словами, это аренда оборудования на долгосрочной основе с правом последующего выкупа.

			p Возвратный лизинг возникает, когда предприятие-собственник оборудования испытывает недостаток в оборотных средствах и продаёт своё оборудование лизинговой компании, которая, в свою очередь, предоставляет имущество в лизинг данному предприятию.

			p По вопросам лизинга спецтехники мы рекомендум обращаться к нашему партнёру 

			a(href="#" title="") Акционерное Общество «СК Лизинг».